<%- include('../partials/header') %>
<!---------ESTILOS------------->
<link rel="stylesheet" href="/css/pages/quoteProject.css">
<!------------------------------->
<div class="main-content">
    <h5>Frases random</h5>
    <p><%= data.content %> - <%= data.author %></p>
</div>
<!---------SCRIPTS------------->
<script src="/js/pages/quoteProject.js"></script>
<!------------------------------->
<%- include('../partials/footer') %>