<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RandomProject | <%= title %></title>
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon">
    <!---STYLES---->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>

    <%- include('navigation') %>

    <div class="main">